<!DOCTYPE html>

{%extends "management/base.html" %} 

{% block body_block%}
<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
       
        <br><br>
        <h2>Candidate Dashboard</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <div class="jumbotron" style="background-color: lightgreen;">
          <table class="pos2">
              <tr>
                  <td><a href="  " class="btn btn-lg btn-info mx-5 d-inline-flex "><b style="font-size: 2rem">Job Search</b></a></td></tr><tr>
              <td><a href="" class="btn btn-lg btn-info mx-5 d-inline-flex"><b style="font-size: 2rem">My Profile</b></a></td></tr><tr>
          <td><a href=" " class="btn btn-lg btn-danger mx-5 d-inline-flex"><b style="font-size: 2rem">Saved Jobs</b></a></td>
            <tr>  <td ><a href=" " class="btn btn-lg btn-danger mx-5 d-inline-flex"><b style="font-size: 2rem">Applied Jobs</b></a></td>
          
              </tr>
              <tr>  <td ><a href="  " class="btn btn-lg btn-warning mx-5 d-inline-flex"><b style="font-size: 2rem">Add Skills</b></a></td>
          
              </tr>
              
          </table>
      </div>
        
    </div>
  </div>
  

{% endblock %}

