<!DOCTYPE html>
{% extends "management/base.html" %}

{%block body_block%}


  <div class="container" style="padding: 20px;">
    <h1 class="welcome" style="text-align: center; font-size: 40px;">WELCOME TO THE INTERN MANAGEMENT SYSTEM</h1>
  </div>


  <img src="../../static/management/images/4565.jpg" class="rounded float-start" style="height: 500px;width: 650px;">


    <div style="height: 200px;"></div>

    <div class="container-recruiter">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <a href=" recruiter/recruiter_login/">
            <div class="wrap-login" style="padding: 20px;"><button class="button-login">Recruiter Login</button></a></div>
          </button>
          </a>
        </div>
      </div>
    </div>

    
    <img src="../../static/management/images/Work_6.jpg" class="rounded float-end" style="height: 500px;width: 650px;">
  
    <div style="height: 280px;"></div> 

    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <a href="candidate/candidate_login/">
            <div class="wrap-login" style="padding: 20px;"><button class="button-login">Candidate Login</button></a></div>
          </a>
        </div>
      </div>
    </div>

    <div style="height: 250px;"></div> 

  
    <footer class="site-footer" style="background-color: darkblue;height:500px;">
      <div class="container">


        <div class="row">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">About</h3>
            <p>This Project is about Intern Management System where both IT companies as well as candidate can register themselves on the on the same platform to interact with each other.</p>
            <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="http://127.0.0.1:8000/">Homepage</a></li>
                    <li><a href="#">Companies</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Categories</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Freelance</a></li>
                    <li><a href="#">Temporary</a></li>
                    <li><a href="#">Internship</a></li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
              <div class="col-md-12">
                <p>
                  <a href="" style="padding: 5px;"><i class="bi bi-youtube"></i></a>
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="" style="padding: 5px;"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>


                </p>
              </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved | Intern Management System
            </p>
          </div>

        </div>
      </div>
    </footer>
    
    <!--{% endblock %}-->
 
