{%extends "management/base.html"%}

{%block body_block%}
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
         
          <br> <br>
          <h2>Recruiter Login</h2>
        </div>
      </div>
    </div>
  <div  class="container text-center">
    <div class="jumbotron" style="background-color: white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 10px;display: inline-block;">
      <table class="hi">
        <tr>
    
         <form method="post">
          {% csrf_token %}
          {{form.as_table}}
    
        
        <tr>  <td><p><div class="d-grid gap-2"><button type="submit"  class="btn btn-primary" style="margin-left: auto;">Login</button></div></p></td></tr>
        </form>
        </tr>

      </table>

    </div>
        
  </div>

  <p style="text-align: center;"><a href="recruiter/recruiter_register/" class=" d-inline-flex"  style="color:deepskyblue;"><b>New user? Register here</b></a></p>
    
<!--{%endblock%}-->
